<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>Datum(): {{ item[0] }} </ion-label><br>
      <ion-label>Preis(€): {{ item[1] }} </ion-label><br>
      <ion-label>Supermarkt: {{ item[2] }} </ion-label><br>
      <ion-label>Geldempfänger: {{ item[3] }} </ion-label><br>
      <ion-label>Produkt: {{ item[4] }} </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab-button class="addButton">
    <ion-icon (click)="SaveItems()" name="add"></ion-icon>
  </ion-fab-button>
</ion-content>