<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item>
      <ion-label>Datum, Preis, Supermarkt, Geldempfänger, Produkt</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of items; let i = index">
      <ion-label>
        {{ item[0] }}, {{ item[1] }}, {{ item[2] }}, {{ item[3] }}, {{ item[4] }}
      </ion-label>
      <ion-button (click)="deleteItem(i)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab-button (click)="SaveItems()"  class="addButton">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-content>